.itemText {
  font-size: 30px;
  padding: 10px;
  line-height: 1;
  white-space: nowrap;

  &.completed {
    animation-name: completed;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

}

@keyframes completed {
  0% {
    color: inherit;
    text-decoration: none;
  }
  1% {
    text-decoration: line-through;
  }
  50% {
    color: inherit;
  }
  100% {
    color: #bbbbbb;
    text-decoration: line-through;
  }
}